.icon-carousel-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    padding: 30px 0;
  }
  
  .icon-carousel {
    display: inline-block;
    animation: scroll 475s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .icon-item {
    display: inline-block;
    text-align: center;
    width: 150px;
    vertical-align: middle; /* Align vertically */
  }
  
  .icon-item .icon {
    width: 7rem;
    height: 7rem;
    display: block;
    margin: 0 auto; 
  }
  
  .icon-carousel-container:before,
  .icon-carousel-container:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
  }
  
  /* Pause animation on hover */
  /* .icon-carousel-container:hover .icon-carousel {
    animation-play-state: paused;
  } */